In [1]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [2]:
allData = pd.read_csv("journal.pone.0185912.s003.csv")
allData.head()

,Source,Site_source,Target,Site_target,Transfers,Year,Week
0,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,1,2014,48
1,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2014,49
2,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2014,50
3,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2014,51
4,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,1

In [15]:
allData['Transfer_Name'] = allData.Source + allData.Target
allData['WeekFromStart'] = (allData.Year-2014)*52 + allData.Week-47

listOfWeeks = np.unique(allData.WeekFromStart.values)

allData.head(20)

,Source,Site_source,Target,Site_target,Transfers,Year,Week,Transfer_Name,WeekFromStart
0,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,1,2014,48,AcuteMedicalUnit.EAUChartwellUnit,1
1,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2014,49,AcuteMedicalUnit.EAUChartwellUnit,2
2,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2014,50,AcuteMedicalUnit.EAUChartwellUnit,3
3,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2014,51,AcuteMedicalUnit.EAUChartwellUnit,4
4,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,1,AcuteMedicalUnit.EAUChartwellUnit,6
5,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,1,2015,2,AcuteMedicalUnit.EAUChartwellUnit,7
6,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,3,AcuteMedicalUnit.EAUChartwellUnit,8
7,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,5,AcuteMedicalUnit.EAUChartwellUnit,10
8,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2015,6,AcuteMedicalUnit.EAUChartwellUnit,11
9,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2015,8,AcuteMedicalUnit.EAUChartwellUnit,13
10,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,9,AcuteMedicalUnit.EAUChartwellUnit,14
11,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2015,10,AcuteMedicalUnit.EAUChartwellUnit,15
12,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,11,AcuteMedicalUnit.EAUChartwellUnit,16
13,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2015,12,AcuteMedicalUnit.EAUChartwellUnit,17
14,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,13,AcuteMedicalUnit.EAUChartwellUnit,18
15,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2015,14,AcuteMedicalUnit.EAUChartwellUnit,19
16,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,3,2015,15,AcuteMedicalUnit.EAUChartwellUnit,20
17,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,16,AcuteMedicalUnit.EAUChartwellUnit,21
18,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,18,AcuteMedicalUnit.EAUChartwellUnit,23
19,AcuteMedicalUnit.EAU,PRUH,ChartwellUnit,PRUH,2,2015,19,AcuteMedicalUnit.EAUChartwellUnit,24

In [9]:
Data14 = allData[allData['Year'] == 2014]
np.unique(Data14.Week.values)

array([48, 49, 50, 51, 52])

In [35]:
transferVariation = pd.DataFrame(columns = ['Mean', 'StandardDev', 'TransferName'])
for transfer in np.unique(allData.Transfer_Name.values):
    weeklyTransfers = allData[allData['Transfer_Name'] == transfer]
    weeklyTransfers = weeklyTransfers[['WeekFromStart', 'Transfer_Name', 'Transfers']]
    weeksZero = np.setdiff1d(listOfWeeks, np.unique(weeklyTransfers.WeekFromStart.values))
    
    df = pd.DataFrame(weeksZero)
    df.columns = ['WeekFromStart']
    df['Transfer_Name'] = transfer
    df['Transfers'] = 0
    #print(df.shape,weeklyTransfers.shape)
    weeklyTransfers = weeklyTransfers.append(df)
    weeklyTransfers.sort_values(by=['WeekFromStart'], inplace = True)
    #print(weeklyTransfers.head())
    
    if weeklyTransfers.Transfers.sum() > 5:
        transferStd = weeklyTransfers.Transfers.std()
        transferMean = weeklyTransfers.Transfers.mean()
        newRow = {'Mean':transferMean, 'StandardDev':transferStd, 'TransferName':transfer}
        transferVariation = transferVariation.append(newRow, ignore_index = True)
        #print(transferStd,transferMean,transfer)

         Mean  StandardDev                                       TransferName
0    2.337349     1.632573                  AcuteMedicalUnit.EAUChartwellUnit
1    0.204819     0.487878      AcuteMedicalUnit.EAUClinicalDecisionUnit.PRUH
2    4.916667     2.196428         AcuteMedicalUnit.EAUCoronaryCareUnit.PRUH.
3    0.084337     0.279582      AcuteMedicalUnit.EAUCoronaryCareUnit.SamOram.
4    8.129412     3.614746                AcuteMedicalUnit.EAUDischargeLounge
5   31.917647     7.687671                   AcuteMedicalUnit.EAUExitHospital
6    4.023529     2.424952                AcuteMedicalUnit.EAUFarnboroughWard
7    0.096386     0.335481                           AcuteMedicalUnit.EAUFisk
8    1.352941     1.031710  AcuteMedicalUnit.EAUHASU.HyperAcuteStrokeUnit....
9    1.168675     0.985496  AcuteMedicalUnit.EAUIntensiveCare.HighDepUnit....
10   0.662651     0.800565              AcuteMedicalUnit.EAUKCH.EmergencyDept
11   0.120482     0.327503                  AcuteMedicalUnit.EAUKinnierWilson
12   3.764706     2.428242                   AcuteMedicalUnit.EAUMedicalWard1
13   4.797619     2.861375                   AcuteMedicalUnit.EAUMedicalWard2
14   4.452381     2.084971                   AcuteMedicalUnit.EAUMedicalWard3
15   3.059524     2.431476                   AcuteMedicalUnit.EAUMedicalWard4
16   4.529412     2.317574                   AcuteMedicalUnit.EAUMedicalWard6
17   6.458824     3.610675                   AcuteMedicalUnit.EAUMedicalWard7
18   3.729412     2.216756                   AcuteMedicalUnit.EAUMedicalWard8
19   7.070588     6.529764                   AcuteMedicalUnit.EAUMedicalWard9

In [ ]:
transferVariation.head(20)